

body {

    text-transform: capitalize;            /**  Carital Text **/
}


#a{

    color:gold; 
}

#b{

    
    margin-left: 400px;

}   

#c{
    color: black; 
    font-size: 12px;
    font-weight:lighter 
}

#d{
    color: black; 
    margin-left: 400px;
    word-spacing: 7px;
    font-size: 12px;
    border: 500px;


}